*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Readex Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

#weather-cont {
  height: 23rem;
  width: 17rem;
  color: white;
  background-color: rgb(20, 20, 20);
  border-radius: 1rem;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
}

#weather-cont h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

#weather-cont img {
  margin-top: -0.5rem;
  /* margin-bottom: -0.5rem; */
  /* border: 2px solid; */
  height: 13.5rem;
  z-index: -1;
}

#weather-cont p {
  margin: 0.2rem 0;
}

input[type="text"] {
  width: 12rem;
  height: 3rem;
  font-family: inherit;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #777;
}

#weather {
  width: 8rem;
  height: 3rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 1px solid #777;
  background-color:steelblue;
  color: white;
}

strong {
  font-weight: bold;
  color: rgb(163, 163, 163);
}